    button,
    div,
    form,
    input {
        margin: 5px;
    }
    
    label {
        color: grey;
    }
    
    .btn-default {
        color: #000;
        font-size: medium;
    }
    
    body {
        background-image: url("../images/porkstore.jpg");
        background-color: purple;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .holder {
        float: left;
    }
    
    .jumbotron {
        text-align: center;
    }